<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462653901957-l1gmoig34c2omc0bg2224hc4m1r52fds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462653901957-l1gmoig34c2omc0bg2224hc4m1r52fds</string>
	<key>API_KEY</key>
	<string>AIzaSyBRdqlFJ11RW9b8r3rG8lScd91dqjlatB8</string>
	<key>GCM_SENDER_ID</key>
	<string>462653901957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sudhanshu.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-eb982</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-eb982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462653901957:ios:9eb715ccacd14ac2082dec</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-eb982.firebaseio.com</string>
</dict>
</plist>